@mixin navLinks {
    text-decoration: none;
    font-size: 1.125rem;
    color: black;
}

@mixin editButton {
    padding: .5rem 1rem;
    border: none;
    border-radius: 3px;
    background: green;
    font-size: 1.125rem;
    cursor: pointer;
    color: white;
    display: block;
    margin-left: auto;
    margin-top: .5rem;

    i {
        margin-right: .5rem;
    }
}

@mixin addButton {
    padding: 1rem;
    border: none;
    border-radius: 7px;
    background: green;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

@mixin closeBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 1.125rem;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: $black;
    }
}

@mixin backBtn {
    border: none;
    border-radius: 7px;
    background: $lightblue;
    padding: .5rem;
    font-size: 1.5rem;
    color: $white;
    cursor: pointer;
    transition: transform 300ms ease;

    &:hover {
        transform: scale(1.1);
    }
}