@import '_colors.scss';
@import '_components.scss';

.edit-header {
    display: flex;
    align-items: center;

    button {
        @include backBtn;
    }

    h1 {
        flex: 1;
    }
}

.edit-section {
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .modify,
    .delete,
    .sort {
        padding: 1rem;
        margin-bottom: 2rem;
        width: 30%;
        border-radius: 10px;
        background: $lightblue;
        color: $white;
        font-size: 2rem;
        cursor: pointer;
        text-align: center;
        transition: transform 300ms ease;

        &:hover {
            transform: scale(1.1);
        }
    }    
}

.modify-action,
.sort-action,
.delete-action {
    background: $lightgray;
    margin-top: 3rem;
    padding: 2rem;
}

.modify-action {
    
}

.sort-action {
    h2 {
        margin-bottom: 1rem;
    }

    .sort-groups {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;

        label {
            font-size: 1.125rem;
            cursor: pointer;
        }

        input {
            transform: scale(1.5);
            margin-right: .5rem;
            cursor: pointer;
        }
    }

    .sort-btn {
        display: block;
        margin: 0 auto;
        margin-top: 1.5rem;
        @include sortBtn;
    }
}

.delete-action {

}