@import '_reset.scss';
@import '_components.scss';
@import '_colors.scss';

.header {
    background-color: $lightgray;
    margin-bottom: 2rem;
}

.header {
    .nav-list {
        list-style: none;
        display: flex;
        justify-content: center;
    }
}

.header {
    li {
        padding: 1rem 2rem;
        a {
            @include navLinks;
        }
    }
}

.event-section {
    display: flex;

}

.event-section {
    .next-event {
        width: 25%;
        padding-top: 3rem;

        h2 {
            color: $black;
        }
    }

    .add-event {
        width: 50%;

        h1 {
            text-align: center;
            color: $black;
        }
    }

    .calendar {
        width: 25%;
        padding-top: 3rem;
        
        h2 {
            text-align: right;
            color: $black;
        }
    }
}

.event-section {
    .event-card {
        border-radius: 10px;
        background: $lightgray;
        min-height: 250px;
        width: 90%;
        padding: 1rem;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .calendar-card {
        min-height: 250px;
        width: 90%;
        margin-left: auto;
        border-radius: 10px;
        overflow: hidden;

        .month-title {
            padding: 1rem 0 .5rem 0;
            background: $lightgray;
            text-align: center;
        }

        .week-row {
            display: flex;
            justify-content: space-between;
            padding: .5rem 0;
            background: #1F1F1F;
            color: white;

            p {
                width: 12%;
                text-align: center;
                font-weight: bold;
            }
        }

        .days-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background: $lightgray;

            p {
                width: 13%;
                text-align: center;
                margin-bottom: .5rem;
            }
        }
    }
}

.event-form {
    padding: 2rem;  /* Privremeno, Mozno */
}

.event-form {
    label,
    input {
        display: block;
    }

    .group {
        margin-bottom: 1rem;
    }

    label {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    input {
        width: 100%;
        padding: .5rem;
        font-size: 1.125rem;
        border: 2px solid lightgray;
        border-radius: 7px;
    }

    ::placeholder {
        color: rgb(200, 200, 200);
        font-size: 1rem;
    }

    .add-btn {
        @include addButton;
    }
}

.event-form {
    .event-select {
        position: relative;
        margin-bottom: 2rem;

        select {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
            font-size: 1.125rem;
            padding: 1rem 4rem 1rem 1.5rem;
            background: $lightgray;
            color: $black;
            font-weight: bold;
            border: 0;
            display: block;
            width: 100%;
        }
    
        .select-arrow {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            background: #1F1F1F;
            height: 100%;
            width: 3rem;
            pointer-events: none;

            &::before,
            &::after {
                --size: .5rem;

                content: '';
                position: absolute;
                width: 0;
                height: 0;

                left: 50%;
                transform: translate(-50%, -50%);
            }

            &::before {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);

                top: 35%;
            }

            &::after {
                border-left: var(--size) solid transparent;
                border-right: var(--size) solid transparent;
                border-top: var(--size) solid rgba(255, 255, 255, 0.5);

                top: 65%;
            }
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.125rem;

    td,
    th {
        border: 1px solid black;
    }

    th {
        padding: .5rem;
    }

    td {
        padding: .3rem;
    }
}

.edit-btn {
    @include editButton;
    margin-bottom: 3rem;
}

.active {
    background: $darkgray;
    font-weight: bold;
    
    a {
        color: white !important;
    }
}

.alert {
    padding: 20px; 
    color: white;
    font-size: 1.125rem;
}

.success-alert {
    background: #2FB986;
}

.error-alert {
    background: #f44336;
}

.close-btn {
    @include closeBtn;
}