@import '_reset.scss';
@import '_components.scss';

.header {
    background-color: lightgray;
    margin-bottom: 2rem;
}

.header {
    .nav-list {
        list-style: none;
        display: flex;
        justify-content: center;
    }
}

.header {
    li {
        padding: 1rem 2rem;
        a {
            @include navLinks;
        }
    }
}

.event-section {
    display: flex;

}

.event-section {
    .next-event {
        width: 25%;
        padding-top: 3rem;
    }

    .add-event {
        width: 50%;

        h1 {
            text-align: center;
        }
    }

    .calendar {
        width: 25%;
        padding-top: 3rem;
        
        h2 {
            text-align: right;
        }
    }
}

.event-form {
    padding: 2rem;  /* Privremeno, Mozno */
}

.event-form {
    label,
    input {
        display: block;
    }

    .group {
        margin-bottom: 1rem;
    }

    label {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    input {
        width: 100%;
        padding: .5rem;
        font-size: 1.125rem;
        border: 2px solid lightgray;
        border-radius: 7px;
    }

    ::placeholder {
        color: rgb(200, 200, 200);
        font-size: 1rem;
    }

    .add-btn {
        @include addButton;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.125rem;

    td,
    th {
        border: 1px solid black;
    }

    th {
        padding: .5rem;
    }

    td {
        padding: .3rem;
    }
}

.edit-btn {
    @include editButton;
}

.active {
    background: gray;
}